<body ng-controller="branchesController">
	<div class="container">
		<h2>Choose State</h2>
		<form class="form-horizontal">
			<select ng-model="state" class="col-sm-4">
				<option value = "" >All</option>
				<option value = "north" >North</option>
				<option value = "south" >South</option>
				<option value = "dan" >Dan</option>
			</select>
		</form>
    </div>
	</br>

<!-- container -->
	<div class="container">
		<div class="row">
			<div class="col-sm-6" ng-repeat="branch in branches.brancheslist | filter: branch.state = state">
				<div class="panel panel-primary">
					<div class="panel-heading" align="center"><strong>{{branch.name}}</strong></div>
					<div class="panel-body" align="center"><h5><strong>Address:</strong> {{branch.address}}</h5></div>
					<div class="panel-footer" align="center"><h5><strong>Phone Number:</strong> {{branch.phoneNumber}}</h5></div>
					<div class="panel-footer" align="center"><h5><strong>Opening Hours:</strong> {{branch.openingHours}}</h5></div>
				</div>
			</div>
		</div>
	</div>
	<br>
</body>