<body ng-controller="accountController">
	<div class="container">
		<h2>Choose account type</h2>
		<form class="form-horizontal">
			<select ng-model="accountType" class="col-sm-4">
				<option value = "" >All</option>
				<option value = "employee" >Employee</option>
				<option value = "manager" >Manager</option>
				<option value = "customer" >Customer</option>
				<option value = "supplier" >Supplier</option>
			</select>
	</div>
	</br>
	<div class="container">
		<div class="col-sm-4" ng-repeat="user in userslist | filter: user.accountType = accountType">
			<div class="panel panel-primary">
				<div class="panel-heading">{{user.firstName}}</div>
				<div class="panel-body">{{user.id}}</div>
				<div class="panel-footer">{{user.user}}</div>
				<div class="panel-footer">{{user.branchesNum}}</div>
				<div class="panel-footer">{{user.accountType}}</div>
			</div>
		</div>	
	</div>
</body>